head{
    text-align: center;
    width: 1000px ;
    margin: 0 ;
    margin-bottom: 50;
}
a {
    font-family: "Noto Sans KR", sans-serif;
    color: white;
    text-decoration: none;

}
a:hover {
    display: inline-block;
    color: rgb(130, 240, 255);
    transform: translateY(-4px);
    transition: 1s;
  }

#title1{

    border-radius: 40px 80px;
    padding: 10px ;
    background-color: rgb(17,156,235);
    text-align: center;
    color : white ;
        
    width: 1000px;
    margin: auto;

    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
         box-shadow: 0 10px 6px -6px #777;
  }
#titleg2{
    width: 200px;

}
body {
  background-color: #f0f0f0;
}


header img {
  width: 100%;
  display: block;
  margin: 0 auto;
  height: auto;
}

.poster-image {
  width: 35%;
  height: auto;
  position: relative; 
  top: -90px;
  left: 70px;
}

.review-title-image {
  width: 88%;
  height: auto;
  display: block;
  margin: 0 auto;
  position: relative; 
  top: -47px;
  left: 0px;
}

.preview {
  width: 24%;
  height: auto;
  position: relative; 
  top: 440px;
  left: 680px;
}

.netflix {
  width: 24%;
  height: auto;
  position: relative; 
  top: 540px;
  right: -435px;
}

.title {
  font-family: 'Gothic', sans-serif;
  font-size: 40px;
  text-align: center;
  margin-top: -870px;
  margin-right: -230px;
}

.subtitle {
  font-family: 'Gothic', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-align: right;
  margin-top: -55px;
  margin-left: auto;
  margin-right: 60px;
}

.divider-first {
  border: 0.5px solid #CCCCCC;
  margin: auto;
  width: 54%;
  margin-right: 0px;
  margin-top: -3px;
}

.description {
  font-family: 'Gothic', sans-serif;
  font-size: 18px;
  text-align: left;
  margin-top: 50px;
  margin-right: 520px;
  position: relative;
  left: 465px; 
  line-height: 1.8;
}

.review {
  font-family: 'Gothic', sans-serif;
  font-size: 12px;
  text-align: left;
  position: relative;
  left: 70px;
  margin-top: 160px;
  margin-right: 129px;
  line-height: 3.0;
}

.divider-second {
  border: 0.5px solid #CCCCCC;
  margin: auto;
  width: 92%;
  margin-right: 10px;
  margin-top: 15px;
}

.footer-image {
  width: 100%;
  display: block;
  margin: 0 auto;
  height: auto;position: relative; 
  top: -650px;
}

.netflix {
  cursor: pointer;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9비율 */
  width: 700px; 
  height: 20px;
  overflow: hidden;
  left: 60px;
  top: 55px;
}

.video-container {
      margin-bottom: 20px;
    }

.video-container-second {
  position: relative;
  padding-bottom: 56.25%; /* 16:9비율 */
  width: 700px; 
  height: 20px;
  overflow: hidden;
  left: 60px;
  top: -200px; 
}

.video-container-second {
      margin-top: 40px;
    }
